<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- stylesheets -->
    <%= stylesheet_link_tag "main.css?#{timestamp}" %>
    
    <!-- javascripts -->
    <%= javascript_include_tag  "_vendors/core/livereload.js?host=#{server_name}" if environment == 'development' %>
    <%= javascript_include_tag  "main.js?#{timestamp}" %>
    
    <!-- page content for head -->
    <%= yield_content :head %>
  </head>
  
  <body class="<%= page_classes %>">
    
    <!-- HEADER
    ======================================================================= -->
    <%= partial "shared/header" %>
    
    <!-- MAIN
    ======================================================================= -->
    <div id="main" role="main">
      <%= yield %>
    </div>
    
    <!-- FOOTER
    ======================================================================= -->
    <%= partial "shared/footer" %>

  </body>
</html>